@media(max-width:654px){

    .modal{
        width: 450px;
    }

    .country-info{
        width: 160px;
        font-size: 12px ;
    }

}

@media(max-width:500px){

    .modal{
        width: 100%;
        padding: 10px 15px 150px 15px ;
    }

    .country-info{
        margin:  5px 0 5px 0 ;
    }

}